'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Clear String'
      'submenu': [
        {'label': 'Single Quote', 'command': 'clear-string:single-str'}
        {'label': 'Double Quote', 'command': 'clear-string:double-str'}
      ]
    ]
  }
]
