# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Enable string-wrapper': 'string-wrapper:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'String Wrapper'
      'submenu': [
        {'label': 'Single Quote', 'command': 'string-wrapper:single-str'}
        {'label': 'Double Quote', 'command': 'string-wrapper:double-str'}
      ]
    ]
  }
]
